/*  Fuentes de Google  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Satisfy&display=swap');

/* Estilos generales */
* {
  box-sizing: border-box;
  scroll-padding-top: 4rem;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
 hr {
  margin: 50px;
 }

section {
  padding: 50px 100px;
  margin-top: 150px;
}

body {
    font-family: Poppins;
    margin: 0;
    padding: 0;
  }
  
  h1, h2, h3 {
    margin: 0;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  /* Estilos del encabezado */
  header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #191919;
    color: #fff;
    padding: 18px 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  #stepup-logo {
    width: 60px;
  }

  .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navbar a {
    padding: 8px 17px;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
  }

  .navbar a:hover {
    transition: 0.1s all linear;
  }

  .navbar a.active {
    color: #ff8c00;
  }


  #mobile {
    display: none;
    align-items: center;
  }
  
  #close {
    display: none;
  }

  .header-icon {
    font-size: 22px;
    cursor: pointer;
    z-index: 10000;
    display: flex;
    column-gap: 0.8rem;
  }

  .header-icon .bx {
    color: #fff;
  }

  .header-icon .bx:hover {
    color: #ff8c00;
  }

  #menu-icon {
    color: #fff;
    font-size: 24px;
    z-index: 100001;
    cursor: pointer;
    display: none;
  }

  .cart {
    position: fixed;
    top: 0;
    right: -100%;
    width: 360px;
    min-height: 100vh;
    padding: 20px;
    background: #ffffff;
    box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
    color: #161616;
    transition: 0.3s;
  }

  .cart.active {
    right: 0;
  }

  #cart-icon {
    margin-left: 10px;
  }

  #cart-icon:hover {
    color: #ff8c00;
    cursor: pointer;
  }

  .cart-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
    padding-bottom: 10px;
    border-bottom: 1px dotted #191919;
  }

  .cart-box {
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
  }

  .cart-img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 10px;
  }

  .detail-box {
    display: grid;
    row-gap: 0.5rem;
  }

  .cart-product-title {
    font-size: 1rem;
    text-transform: uppercase;
  }

  .cart-price {
    font-weight: 500;
  }

  .cart-quantity {
    border: 1px solid #191919;
    outline-color: #292929;
    width: 2.4rem;
    text-align: center;
    font-size: 1rem;
  }

  .cart-remove {
    font-size: 24px;
    color: #cc0000;
    cursor: pointer;
  }

  .total {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid #191919;
  }

  .total-title {
    font-size: 1rem;
    font-weight: 600;
  }

  .total-price {
    margin-left: 0.5rem;
  }

  .btn-buy {
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    border: none;
    background: #161616;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
  }

  .btn-buy:hover {
    background: #333;
  }

  #close-cart {
    position: absolute;
    top: 1rem;
    right: 0.8rem;
    font-size: 2rem;
    color: #333;
    cursor: pointer;
  }

  #close-cart:hover {
    color: #ff8c00;
  }


/* Estilo de boton */
.btn {
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
  background: #333;
  color: #fff;
  padding: 16px 24px;
  border-radius: 0.4rem;
}
  
  .btn:hover {
    background-color: #292929;
  }

/* Estilos de la sección de productos */

.heading {
    text-align: center;
  }

  .heading h2 {
    font-size: 1.8rem;
    text-transform: uppercase;
  }

  .products {
    padding: 40px;
    text-align: center;
  }


/* Contenido de la tienda Nuevo */

.section-title {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1.5rem;
}

.shop{
  margin-top: 6rem;

}

.shop-content {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(220px,auto));
  gap: 1.5rem;
  justify-content: center;
}

.products-container{
  max-width: 220px;
  position: relative;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.products-container:hover {
  border: 1px solid #292929;
  transition: 0.4s;
}

.product-img {
  width: 100%;
  height: 250px;
  object-fit: contain;
  object-position: center;
  padding: 20px;
  background: #ececec94;
  border-radius: 0.5rem;
}

.product-title {
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.price {
  font-weight: 500;
}

.products-container .add-cart {
  position: absolute;
  bottom: 8px;
  right: 8px;
  background: #292929;
  color: #fff;
  padding: 10px 10px;
  cursor: pointer;
  border-radius: 0.3rem;
}

.products-container .add-cart:hover {
  background: hsl(0, 0%, 0%);
}


/* Estilos del pie de página */
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }

.footer-container {
  width: 100%;
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons a {
  text-decoration: none;
  padding: 10px;
  margin: 10px;
  border-radius: 50%;
}

.social-icons a i {
  font-size: 2em;
  opacity: 0.9;
}

.social-icons a:hover {
  transition: 0.6s;
}

.social-icons a:hover i {
  transition: 0.6s;
  color: #909090;
}

.footer-nav {
  margin: 30px 0;
}

.footer-nav ul{
  display: flex;
  justify-content: center;
}

.footer-nav ul li {
  color: #ffffff;
  margin: 15px;
  text-decoration: none;
  list-style: none;
  font-size: 1.3em;
  opacity: 0.5;
  transition: 0.5s;
}

.footer-nav ul li:hover {
  opacity: 1;
}

.footer-bottom {
  background-color: #292929;
  padding: 10px;
}

.footer-bottom p {
  color: white;
}

/* Estilo de boletin informativo */
.newsletter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: rgb(169, 198, 215);
}

.newsletter h4 {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
}

.newsletter p {
  font-size: 14px;
  font-weight: 600;
  color: #818ea0;
}

.newsletter p span {
  color: rgb(255, 0, 0);
}

.newsletter .form{
  display: flex;
}

.newsletter input {
  height: 3.125rem;
  padding: 0 1.25rem;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;

}

.newsletter button {
  background-color: #ff8c00;
  color: #fff;
  white-space: nowrap;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 700;
  transition: background-color 0.3s ease;
  border: none;
  cursor: pointer;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;

}

.newsletter button:hover {
  background-color: #ff6700;
}

/* Estilos de la barra de navegación responsive */
@media (max-width: 799px) {
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #545454;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.3);
    padding: 80px 0 0 10px;
    transition: 0.3s;
  }

  .navbar.active {
    right: 0px;
  }

  .navbar li {
    margin-bottom: 25px;
  }

  #mobile {
    display: flex;
    align-items: center;
  }

  #mobile #cart {
    display: none;
  }

  #mobile i {
    color: #f1f1f1;
    font-size: 24px;
    padding-left: 20px;
  }

  #mobile i:hover {
    color: #ff8c00;
    cursor: pointer;
  }

  #close {
    display: initial;
    position: absolute;
    top: 20px;
    left: 2px;
    color: #f1f1f1;
    font-size: 30px;
  }

  #close:hover {
    color: #ff8c00;
  }

  /* Estilo para evitar hover en la navegación alterna */
  .navbar a:hover {
    border-bottom: none;
    color: #ff8c00; 
    transition: 0.2s all linear;
  }

  #cart-icon {
    display: flex;
    
  }
}

.dropdownmenu {
  padding: 20px;
  margin: 15px;
}

.dropdownmenu ul, .dropdownmenu li{
 margin: 0;
 padding: 0;
}

.dropdownmenu ul {
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.dropdownmenu li {
  float: left;
  position: relative;
  width: auto;
}

.dropdownmenu a {
  background: #545454;
  color: white;
  display: block;
  font-weight: bold;
  font-size: 13px;
  font-family: 'Poppins';
  padding: 15px 55px;
  text-align: center;
  text-decoration: none;
  transition: all 0.25s ease;
}

.dropdownmenu li:hover a {
  background: #191919;
}

.submenu {
  left: 0;
  opacity: 0;
  position: absolute;
  visibility: hidden;
  z-index: 1;
}

li:hover ul.submenu {
  opacity: 1;
  visibility: visible;
  display: flex;
  flex-direction: column;
}

.submenu li {
  float: none;
  width: 100%;
}

.submenu li:hover a {
  background: #818ea0;
}

.dropdownmenu a.active {
  background: #191919;
}

.category-btn.active,
.subcategory-btn.active {
  background-color: #333;
  color: #fff;
}
